<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-px-sm-0 mx-auto">
<h4>会員情報編集</h4>

<%= form_with model: @customer,url:public_customer_path do |f| %>
<table>

 
 <tbody>

   <td>名前</td>
   <td><%= f.text_field :name %>
   </tr>
   <tr>
   <td>メールアドレス</td>
   <td><%= f.text_field :email %></td>
   </tr>
          
   <td><%= f.submit '編集内容を保存',  class: "btn btn-outline-success" %></td>
   <td><%= link_to '退会する', public_customers_unsubscribe_path, class: "btn btn-outline-danger" %></td>
  </tr>
 </tbody>
</table>
<% end %>
   </div>
  </div>
 </div> 