<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">

<h4>マイページ</h4>

<h5>登録情報</h5>
<%= link_to "編集する", edit_public_customer_path(@customer.id), class: "btn btn-sn btn-success" %>
<table class="table">
  <tbody>
  <tr>
    <td>氏名</td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
  </tbody>
</table>
  </div>
 </div>
</div>

<h5>投稿一覧</h5>
<table class="table table-hover table-invrse">
 <thead>
  <tr>
   <th>画像</th>
   <th>お酒の名前</th>
   <th>会員の名前</th>
   <th>投稿日時</th>
  </tr>
 </thead>
 
  
 <tbody>
  <% @posts.each do |post| %>
  <tr>
   <td><%= image_tag post.get_image(100,100) %></td>
   <td><%= post.liquor_name %></td>
   <td><%= post.customer.name %></td>
   <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <% end %>
 </tbody>
</table>