<div class="container">
 <h4 class="mb-5">投稿画面</h4>
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
  <%= form_with model: @post,url:public_posts_path do |f| %>
  <table>
   <tbody>
    <tr>
      <th>ジャンル</th>
      <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, include_blank: 'お酒の種類を選択してください' ) %></td>
    </tr>
    <tr>
      <th>お酒の名前</th>
  　　<td><%= f.text_field :liquor_name %></td>
    </tr>
    <tr>
      <th>お酒の度数</th>
      <td><%= f.text_field :liquor_content %></td>
    </tr>
    <tr>
      <th>飲んだ感想</th>
      <td><%= f.text_area :comment %></td>
    </tr>
    <tr>
      <th>画像</th>
      <td><%= f.file_field :image %></td>
    </tr>
  </tbody>
</table>
<p style="padding-left: 130px;"><%= f.submit "投稿する", class: "btn btn-outline-success" %>
</p>
<% end %>
 </div>
</div>