<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
   <h4><%= @customer.name %>の会員詳細</h4>
    <table class= table>
     <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
     </tr>
     <tr>
      <th>氏名</th>
      <td><%= @customer.name %></td>
     </tr>
     <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
     </tr>
     <tr>
      <th>会員ステータス</th>
      <td><% if @customer.is_deleted==false %>
          有効
         <% else %>
          無効
         <% end %></td>
     </tr>
    </table>
    
    <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-sn btn-success" %>
   </div>
  </div>
 </div> 
 
 <table class="table table-hover table-invrse">
  <h5><%= @customer.name %>さんの投稿一覧</h5>
   <% @customer.posts.each do |post| %>
     <thead>
      <tr>
        <th>投稿一覧</th>
        <th>画像</th>
        <th>お酒の名前</th>
        <th>投稿日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td><%= image_tag post.get_image(100,100) %></td>
       <td><%= post.liquor_name %></td>
       <td><%= post.liquor_content %>%</td>
       <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
     </tbody>
   <% end %>
  </div>
 </div>
</div>
