<div class="container">
   <h4><%= @customer.name %>の会員詳細</h4>
    <table class= "table table-hover table-invrse">
     <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
     </tr>
     <tr>
      <th>氏名</th>
      <td><%= @customer.name %></td>
     </tr>
     <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
     </tr>
     <tr>
      <th>会員ステータス</th>
      <td><% if @customer.is_deleted==false %>
          有効
         <% else %>
          無効
         <% end %>
      </td>
      </tr>
       <tr>
       <th></th>
       <td><%= link_to "編集する", edit_admin_customer_path, class: "btn btn-outline-success" %></td>
     </tr>
    </table>
 
 <h5><%= @customer.name %>さんの投稿一覧</h5>
 <h4>投稿一覧</h4>
 <table class="table table-hover table-invrse">
  <thead>
   <tr>
    <th>画像</th>
    <th>お酒の名前</th>
    <th>度数</th>
    <th>投稿日時</th>
   </tr>
  </thead>
  <tbody>
  <% @customer.posts.each do |post| %>
   <tr>
    <td><%= image_tag post.get_image(100,100) %></td>
    <td><%= link_to post.liquor_name, admin_post_path(post.id) %></td>
    <td><%= post.liquor_content %>%</td>
    <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
   </tr>
  </tbody>
   <% end %>
 </table>
 
 </div>