<div class="container">
  <h4 class="mb-5">投稿編集</h4>
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
   
   <%= form_with model: @post, url:admin_post_path(@post.id) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <table>
     <tbody>
      <tr>
        <th> 投稿画像</th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th>お酒名</th>
        <td><%= f.text_field :liquor_name %></td>
      </tr>
      <tr>
        <th>度数</th>
        <td><%= f.text_field :liquor_content %></td>
      </tr>
      <tr>
        <th>飲んでみた感想</th>
        <td><%= f.text_area :comment %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :genre_id,Genre.all,:id,:name %></td>
      </tr>
     </tbody> 
    </table>

    <p style="padding-left: 16px;"><%= f.submit '変更を保存', class: "btn btn-outline-success" %>
     <%= link_to "投稿を削除する", admin_post_path(@post), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
    </p>
   <% end %>
  </div>
 </div>
</div>