<div class="container">
  <h3>投稿一覧</h3>
 <table class="table table-hover table-invrse">
 <thead>
　<tr>
　  <th></th>
   <th>画像</th>
   <th>お酒の名前</th>
   <th>会員の名前</th>
   <th>投稿日時</th>
  </tr>
 </thead>
 <tbody>
 <% @posts.each do |post| %> 
  <tr>
   <td><%= link_to admin_post_path(post) do %></td> 
   <td><%= image_tag post.get_image(100,100) %></td>
   <td><%= link_to post.liquor_name, admin_post_path(post.id) %></td>
   <td><%= post.customer.name %></td>
   <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
 <% end %>
 <% end %>
 </tbody>
 </table>