<h3>投稿一覧</h3>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3" "offset-md-1">
      <div class="d-flex flex-row bd-highlight mb-3">
        <% @posts.each do |post| %>
          <div class="p-2 bd-highlight">
            <%= link_to admin_post_path(post) do %> 
              <%= image_tag post.get_image(100,100) %>
              <%= post.liquor_name %>
              <%= post.customer.name %>
              <%= post.created_at.strftime('%Y/%m/%d') %>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>