<div class="container">
  <h4 class="mb-5">投稿詳細</h4>
  <div class="row mx-auto" style="max-width: 600px;">
    <div class="col-sm-4">
      <%= image_tag @post.get_image(200,200), width: '200px', height: '200px' %>
    </div>
    <div class="col-sm-8">
      <table class="mb-4">
        <tbody>
          <tr>     
            <th style="word-break: keep-all;">お酒の名前</th>
            <td><%= @post.liquor_name %></td>
          </tr>
          <tr>
            <th style="word-break: keep-all;">度数</th>
            <td><%= @post.liquor_content %>%</td>
          </tr>
          <tr>     
            <th style="word-break: keep-all;">飲んでみた感想</th>
            <td style= "word-break: break-word"><%= @post.comment %></td>
          </tr>
          <tr>     
            <th style="word-break: keep-all;">ジャンル</th>
            <td><%= @post.genre&.name %></td>
          </tr>
        </tbody>
      </table>
      <p style="padding-left: 16px;"><%= link_to "編集する", edit_admin_post_path(@post.id), class: "btn btn-outline-success" %></p>
    </div>
  </div>
</div>
