<%= form_with url: url, method: :get, class: "row align-items-center justify-content-end m-1" do |f| %>
  <div class="row mr-4">
    <%= f.label :会員検索,class: 'nav-link mb-0' %>
    <%= f.search_field :customer_name, value: params[:customer_name] %>
  </div>
  <div class="row mr-4">
    <%= f.label :ジャンル検索,class: 'nav-link mb-0' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "-----", selected: params[:genre_id] } %>
  </div>
  <div class="mr-4">
    <%= f.submit "検索" %>
  </div>
<% end %>