<%= form_with url: url, method: :get do |f| %>
  <div class="form-group">
    <%= f.label :会員検索,class:'nav-link text-light' %>
    <%= f.search_field :customer_name, value: params[:customer_name] %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル検索,class:'nav-link text-light' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "-----", selected: params[:genre_id] } %>
  </div>
  <%= f.submit "検索" %>
<% end %>