<!DOCTYPE html>
<html>
  <head>
    <title>Osake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
       <il>
         <%= link_to "マイページ", public_customer_path(current_customer) %>
       </il>
       <il>
         <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
       </il>
       <li>
         <%= link_to "投稿一覧", public_posts_path %>
       </li>
       <li>
         <%= link_to "ジャンル一覧", public_genres_path %>
       </li>
       <li>
         <%= link_to "投稿する", new_public_post_path %>
       </li>
       
       <% elsif admin_signed_in? %>
        <li>
          <%= link_to "投稿一覧", admin_root_path %>
        </li>
        <li>
          <%= link_to "会員一覧", admin_customers_path %>
        </li>
        <li>
          <%= link_to "ジャンル一覧", admin_genres_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
       <il>
         <%= link_to "投稿一覧", public_posts_path %>
       </il>
       <il>
         <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
       </il>
    </header>
    <%= yield %>
  </body>
</html>
